body {
    font-family: Verdana;
    background: rgb(212, 212, 212)
}

.h1 {
color: rgb(27, 68, 68);
}

.p {
color:rgb(27, 68, 68);

}

main {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: rgb(241, 249, 255);
}

#counter {
    color: rgb(27, 68, 68);
}

#counterDone{
    color: rgb(27, 68, 68);
}

#counterTodo{
    color: rgb(27, 68, 68);
}

.inputGroup {
    position: relative;
    color: rgb(241, 249, 255);
}
#inputTodo {
    background: rgb(80, 160, 160);
    font-size: 20px;
    padding: 20px 50px;
    border: none;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(212, 236, 255);
    outline: none;
}

#addButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: rgb(212, 236, 255);
    cursor: pointer;
}
#addButton:hover {
    color: rgb(255, 255, 255);
}

#todos {
    box-shadow: 0 1px 5px rgb(212, 236, 255);

}

.todo {
    text-align: left;
    position: relative;
    font-size: 20px;
    padding: 20px 50px;
    background: rgb(27, 68, 68);
    border-bottom: 1px solid rgb(212, 236, 255);
}

.check {
    position: absolute;
    left: 10px;
    top: 15px;
    border: 1px solid rgb(212, 236, 255);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.check i {
    position: relative;
    left: 5px;
    top: 5px;
}
.check.false i {
    display: none;
}

.trash {
    position: absolute;
    right: 25px;
    top: 20px;
    color: rgb(212, 236, 255);
    cursor: pointer;
}

.trash:hover {
    color: rgb(255, 255, 255);
}