
li {
    
    text-decoration: none;
    display: inline;
    background-color: rgba(0, 0, 0, 0.986);
    padding: 10px 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    color: white;
    top: 0px;
    left: 850px;
    border-radius: 5px;
    z-index: -5px;

}

li a {

  text-decoration: none;
  color: aliceblue;
}

head img{
top: 0px;
margin-left: 480px;
margin-right: 480px;


}

header p{

color:#006680;
font-size: xx-large;
font-family: sans-serif;

}

div {
    width: 800px;
    padding: 40px;
    margin: 30px;
    right: 500px;
   
  }