head img{
  top: 0px;
  margin-left: 480px;
  margin-right: 480px;
  
  }

  .icon{
    position: absolute;
    bottom: 540px;
    left: 943px;
    opacity: 0.8;
    max-width: 3%;
    height: auto;
}

ul {
  list-style-type: none;
  margin-top: 300;
  margin-left: 1000px;
  top:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  border-radius: 5px;
  

}

li {
  float: right;
  border-right: solid 1px white;
  background: black;
  padding: 5px 8px 5px 5px;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: white;
}

li a:hover {
  background-color: red;
}


li a.aktiv{
  color:#04f7ff;
  font-weight: 1000;
}

.Navigation {
  position: sticky;
  right: 0;
    top: 0;
  
  }

main p {

  color:#006680;
  font-size: xx-large;
  font-family: sans-serif;
}


{
  background-color: #f60;
  } 


li a {

  text-decoration: none;
  color: aliceblue;
}


div {
    width: 800px;
    padding: 40px;
    margin: 30px;
    right: 500px;
   
  }
