.half-circle {
    position: absolute;
    margin-top: -300px;
    text-align: center;
    top: 100px;
  
    width: 400px;
    height: 200px;
    border-radius: 400px 400px 0 0;
    background-color: lightblue;
    z-index: 10;
    background-color: #a20000;
    transform-origin: bottom center;
    transform: rotate(180deg);
  }

li {
    
    text-decoration: none;
    display: inline;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 0px;
    left: 850px;
}


main { display: flex;
       justify-content: center;
       align-items: center;

}

div {
  
    width: 800px;
    padding: 50px;
    margin: 20px;
    font-size: medium;
    font-weight: normal;
    text-align: left;
    font-family: sans-serif;
  }