
li {
    
    text-decoration: none;
    display: inline;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 0px;
    left: 850px;
}


main { display: flex;
       justify-content: center;
       align-items: center;

}

div {
  
    width: 800px;
    padding: 50px;
    margin: 20px;
    font-size: medium;
    font-weight: normal;
    text-align: left;
    font-family: sans-serif;
  }