

h1 {
    color: white;
}

.stationen {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 25px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: whitesmoke;
}
